<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Unique IDs generator</title>
</head>
<body>
  <h1>Your unique IDS:</h1>
  <ul>
    <li>XID: {{ .XID }}</li>
  </ul>
</body>
</html>